In [45]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import log_loss, roc_auc_score
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [46]:
TRAIN_DATA_PATH = '../train.csv'
TEST_DATA_PATH = '../test.csv'

In [47]:
train = pd.read_csv(TRAIN_DATA_PATH)
test = pd.read_csv(TEST_DATA_PATH)

In [48]:
for i in range(0, 200):
    train[f'var_0_{i}'] = train['var_0'] + train[f'var_{i}']
for i in range(0, 200):
    test[f'var_0_{i}'] = test['var_0'] + test[f'var_{i}']

In [49]:
test.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_0_190,var_0_191,var_0_192,var_0_193,var_0_194,var_0_195,var_0_196,var_0_197,var_0_198,var_0_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,8.9100,22.9151,9.6356,13.5164,24.7768,13.5325,15.4310,21.7856,26.5378,2.3459
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,19.1469,17.3653,9.4707,18.6586,24.1069,9.0077,7.0452,18.4018,27.6597,-12.4456
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,4.7343,16.4762,7.4630,7.6627,18.4640,7.6108,-1.6259,12.5445,25.3783,-17.6967
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,18.1076,17.6140,10.1954,12.1187,23.7248,11.7030,12.4941,17.7669,21.5542,4.3266
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,15.9317,20.8781,12.9893,15.0836,31.2600,11.4198,6.5446,18.9940,25.6318,2.5212

In [50]:
train.to_csv('add_features_train.csv', index=False)
test.to_csv('add_features_test.csv', index=False)